bin/
build/
kbuild/
.idea/
lib/
deps/
bindings/php/src/*
!bindings/php/src/otic_php.c
!bindings/php/src/otic_php.h
!bindings/php/src/config.m4

/bindings/php/dist


CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake

oticrc.vim

.phpunit.result.cache
vendor/
