*.pyc
.*.swp
.hypothesis/
src/oticreference/_internal.*
src/*.so
examples/printall

examples/output.otic
examples/resources
phpsrc/oticreference/tests/writedata.fmt
src/otic.o
src/otic_all.h


/vendor
/.idea
/.vscode


